<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%- include ('partials/head.html')%>
        
        <script type="text/javascript" src="Scripts/app.js"></script> 


</head>

<body>
    <%- include ('partials/nav.html')%>

        <div class="col-md-4 offset-md-4 my-5">
            <div class="card animate__animated  animate__flipInY">
                <div class="card-header bg-dark text-white text-center">
                    <i class="fas fa-heartbeat fa fa-5x animate__animated animate__heartBeat" ></i>
                    <h1>
                        Genere su frase de amor
                    </h1>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-mail" name="Correo">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" cols="30" rows="10" placeholder=""
                            name="mensaje_enviar" id="Boton" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block " onclick="clic()">
                            Generar Frase
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <%- include ("partials/footer.html") %>
</body>

</html>